/Lab1/.ipynb_checkpoints/
/Lab2/.ipynb_checkpoints/
/Lab3/.ipynb_checkpoints/
/Lab4/.ipynb_checkpoints/
/Lab5/.ipynb_checkpoints/
/Lab6/.ipynb_checkpoints/
/Lab6/.idea/
/Lab1/kod_a.py
/Lab2/spr_janicki.docx
/Lab2/drzewa.py
/Lab3/test.py
/Lab3/static_huffman.py
/Lab3/adaptive_huffman.py
/Lab3/spr_janicki.docx
/Lab4/janicki_spr.docx
/Lab4/editDistance.py
/Lab4/lcs.py
/Lab5/metryki.py
/Lab5/Sprawozdanie z laboratorium 5.docx
/venv/
/Lab6/tr.py
/Lab6/lab6_janicki.docx
/Lab6/2dpattern_search.py
/.idea/
